{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories {% endblock %}

{% block body %}
    <h1>Toutes les Catégories de la table category : </h1>
    {% for category in categories %}
        <div>
            <a href="{{ path("category_show", { categoryName: category.name }) }}"><h2>{{ loop.index }} / Catégorie : {{ category.name }} </h2></a>
        </div>
    {% else %}
        Aucune Catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    <a href="{{ path('category_new') }}">Ajouter une categorie</a>
{% endblock %}
