{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
    {% if app.user %}
			<h3>Add a comment</h3>
			<div class="text-center mt-3">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<input type='submit' value='Add comment'>
				{{ form_end(form) }}
			</div>
		{% endif %}
		<h3 class="mt-5">Comments</h3>
		{% for comment in episode.comments %}
			<h4 class"mt-3">Par
				{{comment.author.username}}</h4>
			<p>{{comment.comment}}</p>
		{% endfor %}
    <a href="{{ path('episode_index') }}">Retour à la liste</a>

    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">Modifier</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
