{% extends "base.html.twig" %}

{% block title %}Episode #{{ episode.number }}{% endblock %}

{% block body %}  
<div class="text-center m-5">
    <h1>{{ program.title }}</h1>
    <h2> Saison {{ season.number }} </h2>
    <p> Episode {{ episode.number }} / {{ episode.title }} </p>
    <p>{{ episode.synopsis }}</p>
    {% if app.user %}
			<h3 class="mt-3">Add a comment</h3>
			<div class="text-center mt-3">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<input type='submit' value='Add comment'>
                {{ form_end(form) }}
			</div>
	{% endif %}
		<h3 class="mt-5">Comments</h3>
		{% for comment in episode.comments | reverse %}
            <h4 class"mt-3">Par
				{{comment.author.username}}</h4>
			<p>{{comment.comment}}</p>
			<p>Rate : {{comment.rate}}</p>
            {% if is_granted("ROLE_CONTRIBUTOR") %}
	            {{ include('comment/_delete_form.html.twig') }}
            {% endif %}
		{% endfor %}
		    <a href="{{ path('app_index') }}"> Retour à l'accueil </a>
    </div>     
{% endblock %} 
