{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="row" style="height: 400px;">
  <img class="col h-100" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="col text-center m-3">
    <h1>{{ program.title }}</h1>
    <p>{{ program.summary }}</p>
    <p>Catégorie : {{ program.category.name }}</p>
    {% for season in seasons %}
    <a href="{{ path("program_season_show", { program_id: program.id, season_id: season.id }) }}" class="m-3"> <h3>Saison : {{ season.number }}</h3></a>
    {% endfor %}
    <a class="m-3" href="{{ path('program_index') }}">
      Retour à la liste des programmes
    </a>
  </div>
</div>

<h5>Acteurs :</h5>
  <ul>
      {% for actor in program.actors %}
          <li><a href="{{ path("actor_show", { id: actor.id}) }}">{{ actor.name }}</a></li>
      {% else %}
          <li>Aucun acteur trouvé</li>
      {% endfor %}
  </ul>
  </br>
  <a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}


















