  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="assets/images/PopCorn.png"> </a>
     <ul class="nav-item active">
   <a class="nav-link" href="/">Accueil</a>
 </ul>
  <ul class="nav-item">
   <a class="nav-link" href="/programs/">Programmes</a>
 </ul>
 </li>
 <ul class="nav-item">
   <a class="nav-link" href="/categories/">Catégories</a>
 </ul>
 <ul>
 {% if app.user %}
    {{ app.user.email }}
    <div class="text-end">
    <a href="{{ path('app_logout') }}"> Se déconnecter</a>
    </div>
    <a class="nav-link" href="{{ path('app_profile') }}">Mon compte</a>
{% else %}
    <a href="{{ path('app_login') }}"> Se connecter</a>
    <a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
{% endif %}
</ul>
    
    
    
    </form>
  </div>
</nav>


















 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
